/* GENERAL PROPERTIES */

html, body {
    height: 100%;
    margin: 0;
    background-color: azure;
}

#content {
    height: 100%;
}

/* HEADER PROPERTIES */

#header {
    height: 25%;
}

#titleWrapper {
    display: flex;
    height: 75%;
    align-items: center;
    justify-content: center;
}

#title {
    font-size: 8em;
    margin: 0;
}

#tabSelector {
    height: 25%;
}

#tabs {
    float: right;
    margin-right: 18px;
    height: 100%;
    width: 75%;
}

.tab {
    background-color:rgb(242, 183, 125);
    width: calc(20% - 2px);
    height: 100%;
    float: left;
    border-radius: 20% 20% 0 0;
    border: 1px solid black;
    box-shadow: 8px 0px 10px -3px rgb(119, 101, 82);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    cursor: pointer;
    transition: background-color 0.2s;
}

.tabName {
    text-align: center;
    top: 50%;
    bottom: 50%;
    font-weight: 600;
}

.tab:hover {
    background-color:rgb(249, 200, 150);
    display: flex;
    align-items: center;
    justify-content: center;
}

.tab.tabSelected {
    background-color: rgb(255, 212, 171);
    border-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

/* TAB PROPERTIES */

#tabContent {
    height: 72%;
    width: calc(100% - 36px);
    background-color: rgb(255, 212, 171);
    border-radius: 10px 0px 10px 10px;
    margin: 18px;
    margin-top: 0;
    border: 1px solid black;
    box-shadow: 8px -3px 10px -3px rgb(119, 101, 82);
}

#pictureWrapper {
    display: flex;
    justify-content: center;
    float:left;
    width: 40%;
    height: 100%;
}

#textWrapper {
    display: flex;
    float:left;
    overflow-y: auto;
    width: 60%;
    height: 100%;
}

.tabContent {
    display: none;
}

.tabSelected {
    display: block;
}

.tabPicture {
    height: 70%;
    width: 70%;
    background-size: cover;
    background-position-y: center;
    background-position-x: center;
    align-self: center;
    box-shadow: 10px 10px 10px -8px;
    border-radius: 20px;
}

.tabText {
    width: 100%;
    margin: 15%;
    max-height: 70%;
    overflow-y: auto;
    overflow-x: hidden;
    font-size: 1.5em;
}

.tabText h1 {
    text-align: center;
    margin-left: 10px;
}

/* GALLERY PROPERTIES */

#galleryWrapper {
    margin: 20px;
    width: calc(100% - 40px);
    overflow-y: auto;
    max-height: calc(100% - 80px);
}

#galleryGrid {
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

.gridItem {
    height: 500px;
    margin: 10px;
    background-size: cover;
    background-position-y: center;
    box-shadow: 10px 10px 10px -8px;
    border-radius: 20px;
    display: flex;
    align-items: flex-end;
}

.gridItem:hover .caption {
    background-color: rgba(217, 218, 219, 0.8);
    color: rgba(0, 0, 0, 1);
}

.caption {
    width: 100%;
    height: 20%;
    border-radius: 0 0 20px 20px;
    text-align: center;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.5s, color 0.5s;
    background-color: rgba(217, 218, 219, 0);
    color: rgba(0, 0, 0, 0);
}

/* TAB CONTENT */

.groupContent {
    max-height: 0;
    padding-left: 20px;
    padding-right: 40px;
    overflow: hidden;
    transition: max-height 0.5s;
}

.groupHeader {
    margin-right: 20px;
    padding-left: 10px;
    background-color: #e68b1a;
    border-color: #e68b1a;
    box-shadow: 5px 5px 10px -2px;
    border-radius: 20px;
    transition: background-color 0.5s, border-color 0.5s;
    width: 95%;
    margin-left: 10px;
    font-size: 1.2em;
    min-height: 3.5em;
    outline: 0;
}

.groupHeader:hover, .active{
    background-color: #f3ad56;
    border-color: #f3ad56;
    outline: 0;
}

#accordion {
    margin-bottom: 20px;
}