/* GENERAL PROPERTIES */

html, body {
    height: 100%;
    margin: 0;
}

#content {
    height: 100%;
}

/* HEADER PROPERTIES */

#header {
    background-color: azure;
    height: 250px;
}

#titleWrapper {
    height: 75%;
}

#tabSelector {
    background-color: beige;
    height: 25%;
}

.tab {
    background-color: aliceblue;
    width: 15%;
    height: 100%;
    text-align: center;
    float: right;
}

/* TAB PROPERTIES */

#tabContent {
    height: 100%;
}

#pictureWrapper {
    background-color: cornsilk;
    float:left;
    width: 40%;
    height: 100%;

}

#textWrapper {
    background-color: honeydew;
    float:left;
    width: 60%;
    height: 100%;
}

