/* GENERAL */

html, body {
  background-color: azure;
  cursor: default;
  height: 100%;
  margin: 0;
  overflow: hidden;
}

#content {
  height: 100%;
}

/* HEADER */

#header {
  height: 25%;
}

#titleWrapper {
  height: 75%;
}

#title {
  font-size: 8em;
  margin: 0;
}

/* TAB SELECTOR */

#tabSelector {
  height: 25%;
}

#tabs {
  float: right;
  height: 100%;
  margin-right: 18px;
  width: 75%;
}

.tabName {
  bottom: 50%;
  font-weight: 600;
  text-align: center;
  top: 50%;
}

.tab {
  align-items: center;
  background-color:rgb(242, 183, 125);
  border: 1px solid black;
  border-radius: 20% 20% 0 0;
  box-shadow: 8px 0px 10px -3px rgb(119, 101, 82);
  cursor: pointer;
  display: flex;
  float: left;
  font-size: 1.5em;
  height: 100%;
  justify-content: center;
  transition: background-color .2s;
  width: calc((100% / 6) - 2px);
}

.tab:hover {
  background-color:rgb(249, 200, 150);
}

.tab.tabSelected {
  background-color: rgb(255, 212, 171);
  border-bottom: 0;
}

/* NON-SPECIFIC TAB CONTENT */

#titleWrapper, 
.tab, 
.tab:hover, 
.tab.tabSelected, 
.caption {
  align-items: center;
  display: flex;
  justify-content: center;
}

#tabContent {
  background-color: rgb(255, 212, 171);
  border: 1px solid black;
  border-radius: 10px 0px 10px 10px;
  box-shadow: 8px -3px 10px -3px rgb(119, 101, 82);
  height: 72%;
  margin: 18px;
  margin-top: 0;
  width: calc(100% - 36px);
}

#pictureWrapper {
  height: 100%;
  width: 40%;
  display: flex;
  float: left;
  justify-content: center;
}

#textWrapper {
  display: flex;
  float: left;
  height: 100%;
  overflow-y: auto;
  width: 60%;
}

.wrapperHidden {
  display: none !important;
}

.tabContent {
  display: none;
}

.tabSelected {
  display: block;
}

.tabPicture {
  align-self: center;
  background-position: center center;
  background-size: cover;  
  border-radius: 20px;
  box-shadow: 10px 10px 10px -8px;
  height: 70%;
  width: 70%;
}

.tabText {
  font-size: 1.5em;
  margin: 15%;
  max-height: 70%;  
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
}

.tabText h1 {
  margin-left: 10px;
  text-align: center;
}

/* GALLERY */

#galleryWrapper {
  margin: 20px;
  width: calc(100% - 40px);
  overflow-y: auto;
  max-height: calc(100% - 40px);
}

#galleryGrid {
  display: grid;
  grid-template-columns: 33% 33% 33%;
}

.gridItem {
  align-items: flex-end;
  background-position-y: center;
  background-size: cover;
  border-radius: 20px;
  box-shadow: 10px 10px 10px -8px;
  display: flex;
  height: 500px;
  margin: 10px;
}

.gridItem:hover .caption {
  background-color: rgba(217, 218, 219, .8);
  color: rgba(0, 0, 0, 1);
}

.caption {
  background-color: rgba(217, 218, 219, 0);
  border-radius: 0 0 20px 20px;
  color: rgba(0, 0, 0, 0);
  font-size: 20px;
  height: 20%;
  text-align: center;
  transition: background-color .5s, color .5s;
  width: 100%;
}

/* TAB CONTENT */

.groupContent {
  max-height: 0;
  overflow: hidden;
  padding-left: 20px;
  padding-right: 40px;
  transition: max-height .5s;
}

.groupHeader { 
  background-color: #e68b1a;
  border-color: #e68b1a;
  border-radius: 20px;
  box-shadow: 5px 5px 10px -2px;
  cursor: pointer;
  font-size: 1.2em;
  margin-left: 10px;
  margin-right: 20px;
  min-height: 3.5em;
  outline: 0;
  padding-left: 10px;
  transition: background-color .5s, border-color .5s;
  width: 95%;
}

.groupHeader:hover, 
.active {
  background-color: #f3ad56;
  border-color: #f3ad56;
  outline: 0;
}

#accordion {
  margin-bottom: 20px;
}



/* COMMENTS */

#commentsWrapper {
  height: 93%;
  margin: 2% 6% 5% 6%;
}

#commentsSection {
  font-size: 1.5em;
  height: 100%;
}

#commentsDisplay {
  padding: 0 0 30px 10px;
  overflow: scroll;
  height: 50%;
}

#commentsSection h1 {
  font-size: 3em;
  text-align: center;
  margin: 30px 0;
}

#commentForm {
  margin-bottom: 20px;
  height: 100%;
  overflow: hidden;
  padding-left: 20px;
  width: 25%;
}

#inputName {
  display: block;
  margin: 0 2% 2% 2%;
  height: 20px;
  width: 50%;
  border-radius: 10px;
  padding: 10px;
  border-color: lightgray;
}

#inputComment {
  width: calc(96% - 40px);
  border-radius: 20px;
  height: calc(94% - 140px);
  margin: 2%;
  overflow: scroll;
  padding: 20px;
}

#inputComment:active {
  outline: 0!important;
}

.comment {
  background-color: rgb(255, 212, 171);
  border: 1px solid transparent;
  border-radius: 10px;
  box-shadow: 5px 5px 10px -2px;
  margin-top: 20px;
  padding-left: 5%;
  width: 75%;
  font-size: 0.7em;
  overflow-y: auto;
}

#editing {
  font-style: italics;
}

#commentsBody {
  display: flex;
  height: calc(100% - 60px - 3em);
}

#submitBtn, #enter{
  display: block;
  background: white;
  border-radius: 10px;
  height: 40px;
  border-color: lightgray;
  width: 50%;
  margin: 2%;
  cursor: pointer;
}

#number {
  height: 2em;
  width: 4em;
  padding: 10px;
  border-radius: 10px;
  border-color: lightgray;
}

#rightColumn {
  height: 100%;
  padding-left: 20px;
  width: 30%;
}

.commentText {
  max-width: 90%;
  width: 90%;
  margin-top: 0;
  float: left;
}

.deleteButton, .locationTag, .editButton {
  width: 1em;
  float: right;
  margin: 1em 1em 1em 0;
  text-align: center;
  cursor: pointer;
}

.disabledDelete {
  color: gray;
  cursor: default;
}

.commentAuthor {
  float: left;
  width: calc(100% - 4em);
}

.myComment {
  float: left;
  width: calc(100%-6em);
}

#commentsVisible {
  margin-bottom: 20px;
  overflow: auto;
}

#enter {
  display: inline-block;
}

#map {
  width: 45%;
}

.selectedComment {
  background-color: rgb(248, 223, 200);
}